.section {
  margin: 10px 0;
  background: whitesmoke;
  box-shadow: 0 0 5px #c7c5c5;
}

.section__header {
  font-size: 20px;
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid #ddd;
}

.main__header {
  font-family: "Rubik Doodle Shadow";
  color: #222;
  border-bottom: 3px teal solid;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 5px cyan;
}

.section__body {
  padding: 20px;
}