.section {
  margin: 10px 0;
  background: whitesmoke;
  box-shadow: 0 0 5px #c7c5c5;
}

.section__header {
  font-size: 20px;
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid #ddd;
}

.main__header {
  font-family: system-ui;
}

.section__body {
  padding: 20px;
}